body{
    overflow: initial;
}
<<<<<<< HEAD
#background{
    height: 100%;
    width: 100%;
    z-index: -10;
    position: fixed;
    background-size: contain;
    /*background-image: url("https://s-media-cache-ak0.pinimg.com/236x/17/c4/ee/17c4ee0bd21662c77af9be477ba9b17f.jpg");*/
}
=======
>>>>>>> origin/master
.container {
    padding-top: 70px;
    max-width: 700px;
}
#currentDate{
    text-align: center;
}
<<<<<<< HEAD
#datepicker{
    position: absolute;
    z-index: 10;
    left: 55%;
    margin-left: -100px;
}
=======
>>>>>>> origin/master
.input-group, .btn-group{
    margin-top: 10px;
    margin-bottom: 10px;
}
<<<<<<< HEAD
.input-group span{
    width: 33.33%;
}
.input-group,#currentDate {
    width: 100%;
}
.data-input {
    text-align: right;
}
.table-item-name > input{
    text-align: center;
    height: 20px;
    width: 100%;
=======
.data-input {
    text-align: right;
}
.data-title{
    min-width: 150px;
}

.table-input-hours{
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    vertical-align: middle; 
}
.table-input-hours > input{
    text-align: center;
    height: 35px;
    width: 100%;
    margin: 0;
    padding: 0;
>>>>>>> origin/master
    border: none;
}
.table-item-name{
    text-align: center;
    width: 30%;
<<<<<<< HEAD
    margin: 0;
    background-color: #eee;
    vertical-align: middle;
    border-color: #CCC;
}
.table-item-input{
   background-color: #fff;
   -webkit-box-shadow: inset -1px 1px 2px 0px rgba(204, 204, 204, 0.43);
   box-shadow: inset -1px 1px 2px 0px rgba(204, 204, 204, 0.43);
   border-right: none; 
=======
>>>>>>> origin/master
}
.btn-save{
    float: right;
    margin-bottom: 20px;
    min-width: 30%;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    min-width: 100%;
}
.scrollable-menu li{
    text-align: center;
}
.scrollable-menu li span{
    color: lightgray;
    font-size: x-small;
    line-height: 12px;
<<<<<<< HEAD
}
.rawData{
    font-size: small;
    color: #CCC;
}
th{
    background-color: #eee;
}
.center-btn {
    border-right-width: 0px;
}

.table>tbody+tbody{
    border-top-color: #ccc;
}
=======
}
>>>>>>> origin/master
