<div id="loginBackground"></div>
<div class="container">
	<div id="facebookLoginBtnContainer" class="col-lg-12 center-block">
		<h2 id="loginTitle">Money management for Juvik</h2>
<<<<<<< HEAD
		<a href="/authorize/facebook">
			<button id="facebookLoginBtn" type="button" class="btn btn-primary btn-lg center-block"  >{{loginButtonText()}}</button>
		</a>
		<!--<a href="/authorize/facebook">
          <button md-raised-button>Facebook</button>
        </a>-->
=======
		<button id="facebookLoginBtn" type="button" class="btn btn-primary btn-lg center-block" (click)="fb_login()" >{{loginButtonText()}}</button>
>>>>>>> origin/master
	</div>
</div>